{% extends 'base.html' %} 

{% block title %} Home {% endblock %}

{% load static %}
{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}


{% block content %}
  <section id="welcome">
    <div>
      <img src="{% static 'blog/img/Supto.jpg' %}" alt="my image">
      <h1>SUPTO BLOG</h1>
    </div>

    <p>Hi, I am Supto. I liked to write about the wonderful universe of Programming</p>
  </section>

  <section id="latest-posts">
    <h2>My latest thoughts</h2>

    <ul>
      {% for post in posts %}
        {% include 'blog/include/post.html' %}
      {% endfor %}
    </ul>
  </section>


  <section id="about">
    <h2>What i do?</h2>
    <p>
      I love programming. I love to solved complex problems. I like to explore the world of programming
    </p>
  </section>

{% endblock %}